<!DOCTYPE html>
<html>


<head>
  <title>About</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/weather.JPG"
  </head>
<body>
  <div class="main-content">
    {{>header}}
    Random page.


</div>
    {{>footer}}
</body>

</html>
