<!DOCTYPE html>
<html>


<head>
  <title>Help</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/weather.JPG"
  </head>
<body>
  <div class="main-content">
    {{>header}}
    {{helptext}}
  </div>

  {{>footer}}
</body>

</html>
