<!DOCTYPE html>

<html>

<head>
 
  <meta name=”viewport” content=”width=device-width, initial-scale=1″>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/icon.png">
  

</head>
<button class="button-rain" style="vertical-align:middle">
    </button>
    <button class="button-partlycloudy" style="vertical-align:middle">      
    </button>
    <button class="button-sunny" style="vertical-align:middle">
    </button>
    <button class="button-windy" style="vertical-align:middle">
    </button>
    <button class="button-snow" style="vertical-align:middle">
    </button>
<body>
  
  {{!-- audio controlls --}}
<div>
    <button id="play" onclick="document.getElementById('songsrc').play()"></button>
    <button id="pause" onclick="document.getElementById('songsrc').pause()"></button>
    <button id="mute" onclick="document.getElementById('songsrc').muted=!document.getElementById('songsrc').muted"></button>
</div>
  {{!-- theme'd buttons --}}
  <div class="main-content">
    
    <script src="./dist/app-bundle.js"></script>
    
      <script type="text/javascript">

          document.querySelector(".button-rain").addEventListener("click", function(){
          document.querySelector(".main-content").style.background = 'url(https://data.whicdn.com/images/281328506/original.gif)';
          document.querySelector(".main-content").style.backgroundSize = 'cover';
          document.querySelector(".main-content").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/lofiloop.mp3';
          

        })

        document.querySelector(".button-partlycloudy").addEventListener("click", function(){
          document.querySelector(".main-content").style.background = 'url(https://media.giphy.com/media/lnq52t8atIw3m/giphy.gif)';
          document.querySelector(".main-content").style.backgroundSize = 'cover';
          document.querySelector(".main-content").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/sunny-song.mp3';
         
        })

          document.querySelector(".button-sunny").addEventListener("click", function(){
          document.querySelector(".main-content").style.background = 'url(https://data.whicdn.com/images/140771342/original.gif)';
          document.querySelector(".main-content").style.backgroundSize = 'cover';
          document.querySelector(".main-content").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/true-sunny.mp3';
        })

          document.querySelector(".button-windy").addEventListener("click", function(){
          document.querySelector(".main-content").style.background = 'url(https://i.pinimg.com/originals/ac/f3/0e/acf30ee54206580bca0cb291eab559f4.gif)';
          document.querySelector(".main-content").style.backgroundSize = 'cover';
          document.querySelector(".main-content").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/windy.mp3';
        })

          document.querySelector(".button-snow").addEventListener("click", function(){
          document.querySelector(".main-content").style.background = 'url(https://media.giphy.com/media/Le0YdjvkL1bOg/giphy.gif)';
          document.querySelector(".main-content").style.backgroundSize = 'cover';
          document.querySelector(".main-content").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/snow2.mp3';
        })

      </script>

    <div id="content-pos">
   {{>header}}
    <p id="question">Check the weather outside?</p>
    <form >
      <input placeholder="Location" autocorrect="off" spellcheck="false">
      <button class="searchbutton">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>
    {{>footer}}
    <p id="slider">
    <a href="#section2">Continue</a>
     </p>
    <div id="arrow">
                <span></span>
                <span></span>
                <span></span>
  
  </div>
  </div>
    
  </div><div id="section2">
  <h2>Section 2</h2>
</div>
  
    

  <audio id="songsrc" controls loop="true" hidden = "true" autoplay= "true" >
    
  <source src="audio/lofiloop.mp3" type="audio/mpeg">

</audio><br />
    
{{!-- this allows users to use document.query --}}
<script src="/js/app.js"></script>11
</body>
</html>
