<!DOCTYPE html>

<html>

<head>
 

  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/icon.png">


</head>

<body>
  {{!-- theme'd buttons --}}
  <div class="main-content">
    <button class="button-rain" style="vertical-align:middle">
    </button>
       
    <button class="button-partlycloudy" style="vertical-align:middle">
      
    </button>

    <button class="button-sunny" style="vertical-align:middle">
      
    </button>

    <button class="button-windy" style="vertical-align:middle">
      
    </button>
      <script type="text/javascript">
       
        document.querySelector(".button-rain").addEventListener("click", function(){
          document.querySelector("body").style.background = 'url(https://data.whicdn.com/images/281328506/original.gif)';
          document.querySelector("body").style.backgroundSize = 'cover';
          document.querySelector("body").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/lofiloop.mp3';
    
        })

        document.querySelector(".button-partlycloudy").addEventListener("click", function(){
          document.querySelector("body").style.background = 'url(https://media.giphy.com/media/lnq52t8atIw3m/giphy.gif)';
          document.querySelector("body").style.backgroundSize = 'cover';
          document.querySelector("body").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/sunny-song.mp3';
        })

        document.querySelector(".button-sunny").addEventListener("click", function(){
          document.querySelector("body").style.background = 'url(https://data.whicdn.com/images/140771342/original.gif)';
          document.querySelector("body").style.backgroundSize = 'cover';
          document.querySelector("body").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/true-sunny.mp3';
        })

        document.querySelector(".button-windy").addEventListener("click", function(){
          document.querySelector("body").style.background = 'url(https://i.pinimg.com/originals/ac/f3/0e/acf30ee54206580bca0cb291eab559f4.gif)';
          document.querySelector("body").style.backgroundSize = 'cover';
          document.querySelector("body").style.backgroundPosition = 'center';
          document.getElementById("songsrc").src = 'audio/windy.mp3';
        })
      </script>

    
    {{>header}}
    <p id="question">Check the weather outside?</p>
    <form>
      <input placeholder="Location">
      <button class="searchbutton">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>

  {{>footer}}
  
    

  <audio id="songsrc" controls loop="true" hidden = "true" autoplay= "true">

  <source src="audio/lofiloop.mp3" type="audio/mpeg">

</audio><br />
    

<script src="/js/app.js"></script>

</body>

</html>
