
body{
  color: white;
  font: 14px "Century Gothic", Futura, sans-serif;
  max-width:650px;
  margin: 0 auto;
  padding: 0 16px;
  background-image: url(https://data.whicdn.com/images/281328506/original.gif);
  animation: chbg 320s ease-in-out;
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes chbg {
  50% {
    background:url(https://media.giphy.com/media/1zgzISaYrnMAYRJJEr/giphy.gif);
    background-size:cover;
    background-position: center;
  }
  60% {
    background:url(https://media.giphy.com/media/GErcIBbuuO3h6/giphy.gif);
    background-size:cover;
    background-position: center;
  }

  70% {
    background:url(https://media.giphy.com/media/37Th7OtVaqxaw/giphy.gif);
    background-size:cover;
    background-position: center;
  }

  
  
}
/*// hover code
 body:hover{
  background: url(https://data.whicdn.com/images/270773617/original.gif);
  background-size: cover;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
} */

footer{
  color: white;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16 0;

}

header {
  margin-top: 16px;
  margin-bottom: 46px;
  
  color: white;
  background-size: cover;
  background-position: center;
  
  /* color: transparent; // set to transparent, otherwise won't see the background */
}

h1{
  font-size: 64px;
  margin-bottom: 16px;
}

header a{
  color: white;
  margin-right: 16px;
  text-decoration: none;
  
}
/* shadow on tabs */
header a:hover {
	box-shadow: 0px 24px 36px rgba(89, 102, 212, 0.692), 0 10px 10px rgba(54, 40, 175, 0.19);
}


main-content{
  flex-grow: 1;
}

input{
  border: 1px solid #cccccc;
  padding: 8px;
}

button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}
p{
  color:white;
}

.title {
  font-weight: 100;
}
/*
#question{
  display: inline;
	position: relative;
	font: 15px Helvetica, Sans-Serif;
	
	color: rgba(115, 255, 0, 0.432);
}
#question:after {
    content: "Check the weather outside?";
	  position: absolute; left: 0px; top: 1px;
	  color: rgba(0, 174, 255, 0.651);    
}
#message-1{
  display: inline;
	position: relative;
	font: 15px Helvetica, Sans-Serif;
	
	color: rgba(0, 255, 191, 0.705);
} */

/*
  search button hover effect
*/
.searchbutton{
  color: #0099CC; 
  background: transparent;
  border: 2px solid #0099CC;
  border-radius: 6px; 
   border: none;      color: white; 
}

.searchbutton:hover {      
  background-color: #008CBA;      
  color: white; 
}

.button-rain{
  position: absolute; left: 240px; top: 90px;
  border: none;  border-radius: 50px;
  height: 100px;
  width: 100px;
  background: url(https://cdn.dribbble.com/users/141880/screenshots/1969172/weatherlorerain.gif);
  background-size:cover;
  background-position: center;
}

.button-sunny{
  position: absolute; left: 240px; top: 230px;
  border: none;  border-radius: 50px;
  height: 100px;
  width: 100px;
  background-image: url(https://media.giphy.com/media/giQ8fxb8w2wKsrOefM/giphy.gif);
  background-position: center;
  background-size:cover;
}


