body{
  color: #333333;
  font: 14px "Century Gothic", Futura, sans-serif;
  max-width:650px;
  margin: 0 auto;
  padding: 0 16px;
  background: url(https://data.whicdn.com/images/281328506/original.gif);
  background-size: cover;
  background-position: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}


footer{
  color: black;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16 0;

}

header {
  margin-top: 16px;
  margin-bottom: 46px;
  color: white;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  /* color: transparent; // set to transparent, otherwise won't see the background */
}

h1{
  font-size: 64px;
  margin-bottom: 16px;
}

header a{
  color: white;
  margin-right: 16px;
  text-decoration: none;
}

.portrait{
  width: 150px;
  height: 150px;

}

main-content{
  flex-grow: 1;
}

input{
  border: 1px solid #cccccc;
  padding: 8px;
}

button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}
p{
  color:white;
/* }
#question{
  display: inline;
	position: relative;
	font: 15px Helvetica, Sans-Serif;
	
	color: rgba(115, 255, 0, 0.432);
}
#question:after {
    content: "Check the weather outside?";
	  position: absolute; left: 0px; top: 1px;
	  color: rgba(0, 174, 255, 0.651);    
}
#message-1{
  display: inline;
	position: relative;
	font: 15px Helvetica, Sans-Serif;
	
	color: rgba(0, 255, 191, 0.705);
} */


